<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,661},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
            <key>L_front_thigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,541},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>L_rear_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,771},{168,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{168,133}}</string>
                <key>sourceSize</key>
                <string>{206,177}</string>
            </dict>
            <key>L_wing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,790},{186,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,207}}</string>
                <key>sourceSize</key>
                <string>{186,207}</string>
            </dict>
            <key>L_wing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,408},{218,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,213}}</string>
                <key>sourceSize</key>
                <string>{218,213}</string>
            </dict>
            <key>L_wing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{192,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,331}}</string>
                <key>sourceSize</key>
                <string>{192,331}</string>
            </dict>
            <key>R_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,448},{101,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,89}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
            <key>R_front_thigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,259},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>R_rear_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,157},{116,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>R_wing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,96},{219,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,310}}</string>
                <key>sourceSize</key>
                <string>{219,310}</string>
            </dict>
            <key>R_wing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,541},{272,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,247}}</string>
                <key>sourceSize</key>
                <string>{272,247}</string>
            </dict>
            <key>R_wing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,790},{251,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,229}}</string>
                <key>sourceSize</key>
                <string>{251,229}</string>
            </dict>
            <key>R_wing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,623},{200,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,366}}</string>
                <key>sourceSize</key>
                <string>{200,366}</string>
            </dict>
            <key>chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,623},{214,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,146}}</string>
                <key>sourceSize</key>
                <string>{214,146}</string>
            </dict>
            <key>front_toeA.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,539},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>front_toeB.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,906},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{897,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{897,92}}</string>
                <key>sourceSize</key>
                <string>{897,92}</string>
            </dict>
            <key>rear-toe.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,369},{105,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>tail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{120,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,153}}</string>
                <key>sourceSize</key>
                <string>{120,153}</string>
            </dict>
            <key>tail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,539},{95,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,120}}</string>
                <key>sourceSize</key>
                <string>{95,120}</string>
            </dict>
            <key>tail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{73,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>tail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,541},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>tail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,541},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>tail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,541},{95,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,68}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>template.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{671,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,443}}</string>
                <key>sourceSize</key>
                <string>{671,443}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragontest0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09d0b1e76be410f3136635c33b573a1:45668bf16a066c619d4aaa95c35cc9f9:c3619cbdd00cf411b02c5fbb9438d59b$</string>
            <key>textureFileName</key>
            <string>dragontest0.png</string>
        </dict>
    </dict>
</plist>
