<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_rear_thigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,208},{91,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,149}}</string>
                <key>sourceSize</key>
                <string>{91,149}</string>
            </dict>
            <key>L_wing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,571},{191,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,256}}</string>
                <key>sourceSize</key>
                <string>{191,256}</string>
            </dict>
            <key>L_wing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{179,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,269}}</string>
                <key>sourceSize</key>
                <string>{179,269}</string>
            </dict>
            <key>L_wing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,148},{188,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,135}}</string>
                <key>sourceSize</key>
                <string>{188,135}</string>
            </dict>
            <key>L_wing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,571},{159,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,255}}</string>
                <key>sourceSize</key>
                <string>{159,255}</string>
            </dict>
            <key>L_wing08.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,828},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>L_wing09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{204,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,167}}</string>
                <key>sourceSize</key>
                <string>{204,167}</string>
            </dict>
            <key>R_rear_thigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,272},{91,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,149}}</string>
                <key>sourceSize</key>
                <string>{91,149}</string>
            </dict>
            <key>R_wing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,305}}</string>
                <key>sourceSize</key>
                <string>{203,305}</string>
            </dict>
            <key>R_wing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{279,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,144}}</string>
                <key>sourceSize</key>
                <string>{279,144}</string>
            </dict>
            <key>R_wing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{200,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,263}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>R_wing08.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{234,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,254}}</string>
                <key>sourceSize</key>
                <string>{234,254}</string>
            </dict>
            <key>R_wing09.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{248,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,204}}</string>
                <key>sourceSize</key>
                <string>{248,204}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,829},{190,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,185}}</string>
                <key>sourceSize</key>
                <string>{190,185}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,148},{136,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,122}}</string>
                <key>sourceSize</key>
                <string>{136,122}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,309},{296,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,260}}</string>
                <key>sourceSize</key>
                <string>{296,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragontest1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09d0b1e76be410f3136635c33b573a1:45668bf16a066c619d4aaa95c35cc9f9:c3619cbdd00cf411b02c5fbb9438d59b$</string>
            <key>textureFileName</key>
            <string>dragontest1.png</string>
        </dict>
    </dict>
</plist>
